* {
    box-sizing: border-box;
  }
  
  /* brand color palette */
  :root {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(243, 174, 192);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: monospace;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }

  header {
    /* position: relative; */
    height:400px;
    width:100%;
    text-align: center;
    /* background-color: var(--secondary); */
    font-size: 30px;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
  }


  #job-title {
    padding: 5px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
    margin-top: 75px;
    font-size: 22px;
  }

  a {
    text-decoration-line: none;
  }


  main {
      display: flex;
      height: 100%;
      width: 100%;
      /* background-color: aqua; */
      justify-content: center;
      flex-direction: column;
      flex: wrap;
  }

  h2 {
    text-align: center;
  }

  .about-wrapper {
    display: flex;
    height: 300px;
    width: 61%;
    margin: auto;
    align-items: center;
  }

  #headshot {
    height: 200px;
    width: 150px;
    /* border-radius: 25px;; */
  }

  .large-img {
    display: block;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 61%;
    border: 4px solid black;
    border-radius: 25px;
  }

  .img-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 425px;
    width: 65%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .small-img {
    height: 200px;
    width: 300px;
    padding: 10px;
    flex: 1 1 auto;
    border: 4px solid black;
    border-radius: 25px;
  }

  .contact-wrapper {
    display: flex;
    height: 400px;
    width: 600px;
    margin: auto;
    justify-content: space-between;
  }

  .contact-option {
    font-size: 18px;
    padding: 10px;
  }