* {
    box-sizing: border-box;
  }
  
  /* brand color palette */
  :root {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(243, 174, 192);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }

  header {
    height:250px;
    width:100%;
    text-align: center;
    background-color: var(--secondary);
    font-size: 25px;
  }

  main {
      display: flex;
      height: 100%;
      width: 100%;
      /* background-color: aqua; */
      justify-content: center;
      flex-direction: column;
      flex: wrap;
  }

  #about {
      display: flex;
      justify-content: center;
      height: 800px;
      width: 100%;
  }
  
  .section {
      display: flex;
      justify-content: center;
      border: black 0.5px solid;
      border-radius: 25px;
      width: 1000px;
      margin: 100px;
  }

  #headshot {
      height: 200px;
      width:150px;
      border-radius: 25px;
  }

  #work {
    display: flex;
      justify-content: center;
      height: 800px;
      width: 100%;
  }

  #surf-report {
    height: 300px;
    width: 400px:
  }

  #contact {
    display: flex;
      justify-content: center;
      height: 800px;
      width: 100%;
  }