* {
    box-sizing: border-box;
  }
  

  body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: monospace;
    line-height: 1.5;
  }


  /* Header */
  .header-wrapper {
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    text-align: center;
    font-size: 30px;
    background-image: url(.././images/dark-wood.jpg);
    color:white;
  }


  /* Felicia Wootton */
  h1 {
    text-align: center;
    font-size: 65px;
    font-weight: bolder;
    letter-spacing: 10px;
  }


  #title-and-headshot-wrapper {
    display: flex;
    height: 240px;
    width: 600px;
    margin: auto;
    justify-content:center;
  }


  /* Full Stack Developer */
  #job-title {
    padding: 10px;
    margin-top: 35px;
    margin-right: 10px;
  }


  /* Headshot */
  #header-photo {
    height: 250px;
    width: 200px;
    border: white 2px solid;
  }


  /* Navigation wrapper */
  nav {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: auto;
    margin-top: 75px;
    font-size: 22px;
  }


  /* Individual navigation elements */
  .page-nav {
    color: rgb(232, 119, 255);
  }

  .page-nav:hover {
    color: rgb(250, 151, 205);
  }

  /* Removes underline from nav elements */
  a {
    text-decoration-line: none;
  }


  /* Main content wrapper */
  main {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      flex: wrap;
  }


  /* Aligns "ABOUT" and "CONTACT" headings to the center */
  h2 {
    text-align:center;
  }

  /* About section */
  #about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    margin: auto;
    justify-content: center;
    margin-bottom: 75px;
  }

  #about-header {
    font-size: 45px;
    font-weight: bolder;
  }

  #about-content-wrapper {
    display: flex;
    margin: auto;
    align-items: center;
  }

  /* About me paragraph */
  p {
    font-size: 18px;
  }


  /* Work section */
  #work {
    display: flex;
    flex-direction: column;
    background-image: url(.././images/dark-wood.jpg);
    height: 100%;
    width: 100%;
    color: white;
    padding-bottom: 100px;
  }

  #work-header {
    margin: auto;
    font-size: 30px;
  }


  /* Large project */
  #large-project-wrapper {
    display: block;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }


  #large-project-link {
    display: block;
    background-image: url(.././images/interface.png.png);
    background-size: cover;
    background-position: center;
    color: black;
    font-weight: bolder;
    font-size: 24px;
    height: 100%;
    width: 100%;
    padding: 10px;
    flex: 1 1 auto;
    border: 6px solid white;
  }


  #large-project-link:hover {
    opacity: 50%;
  }


  /* Small projects */
  #small-project-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    margin: auto;
    margin-top: 10px;
  }


  .small-project-link{
    display: block;
    background-image: url(.././images/multiple-interface.png);
    background-size: cover;
    background-position: center;
    color: white;
    height: 180px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    flex: 1 1 auto;
    border: 4px solid white;
  }

  .small-project-link:hover {
    opacity: 50%;
  }

  /* Contact section */
  #contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }


  #contact-header {
    font-size: 45px;
    font-weight: bolder;
  }


  #contact-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 100px;
  }


  .contact-option {
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }
  

  /* Adjusted navigation bar as screen size decreases */
  @media screen and (max-width: 900px) {
    nav {
      width: 100%;
    }
  }